*{
padding: 0;
margin: 0;
display: inline-block;
}

body{
    height: 100vh;
    width: 100vw;
    background: black;
    overflow: hidden;
}

head{
    display: none;
}
script{
    display: none;
}
title{
    display: none;
}

@keyframes neon {
    0%{
        box-shadow:rgb(0, 255, 255) 0 0 30px, cyan 0 0 60px, cyan 0 0 70px;
    }
    50%{
    box-shadow: cyan 0 0 10px,
    cyan 0 0 20px,
    cyan 0 0 50px;
    }
    100%{
        box-shadow:cyan 0 0 30px, cyan 0 0 60px, cyan 0 0 70px;
    }

}
@media only screen and (min-width:720px) 
{            

    .button{
                height: 172px;
                width: 289px;
                background: black;
                border-radius: 20px;
                box-shadow: cyan 0 0 30px, cyan 0 0 60px, cyan 0 0 70px;
                animation: neon 5s infinite;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
           
    .button a{
                height: 100%;
                width: 100%;
            }
    .button p{
                text-align: center;
                height: 100%;
                width: 100%;
                color: rgb(40, 74, 230);
                text-shadow: rgb(107 40 230) 0 0 20px;
                font-size: 153px;
            }     
}

@media only screen and (min-width:1600px) {
    .button{
        height: 80px;
        width: 120px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: black;
        border-radius: 20px;
         box-shadow: cyan 0 0 10px,
         cyan 0 0 20px,
         cyan 0 0 50px;
         animation: neon 5s infinite;
       
    }
    .button p{
        color: rgb(40, 74, 230);
        text-shadow: rgb(107, 40, 230) 0 0 20px ;
        font-size: 70px;
     
    }
    .button a{
        text-decoration:none;
        color: rgb(40, 74, 230);
    }  
}
